.boton-clear{
    height: 80px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: rgb(223, 123, 123);
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgba(38, 38, 177, 0.334);
    border: 2px solid red;
    cursor: pointer;
    border-radius: 30px 30px 30px 30px;
}

.boton-clear:hover{
    background-color: rgb(101, 162, 220);
}